<!DOCTYPE html>
<html>
    <head>
        <title>La page pour dire au revoir</title>
    </head>
    <body>
        <h1>See you soon man ! !</h1>
        
        <p>
            Adios amigos de la muerta 
        </p>
    </body>
</html>